<!-- About Section -->
    <section id="landingservices"  class="services">
        <div class="container">

            <div class="services heading">Legal Services</div>
        
            

            <div class="row">
               

                 <div class="col-md-3"  style="text-align:center;">
                    <span class="fa services-icons fa-barcode"> 
                    </span>
                    <div class="services sub-heading">Commercial
                    <div class="services content paddup"> Setting Up and Registering your Business, Intellectual Proprety Rights, Franchising </div>
                    </div>
                </div>
                
                
                  <div class="col-md-3"  style="text-align:center;">
                    <span class="fa services-icons fa-line-chart"> 

                    </span>
                    <div class="services sub-heading">Mergers and Aquisitions
                     <div class="services content"> Lucrative Transaction Support, Buy-Side, Sell-Side Assistance </div>
                    </div>
                </div>
                
                
                <div class="col-md-3"  style="text-align:center;">
                    <span class="fa services-icons fa-map-signs"> 
                    </span>
                    <div class="services sub-heading">Restructuring
                    <div class="services content paddup"> Spin-Off,  Transfer of Business, Outsourcing, Dissolution, Liquidation </div>
                    </div>                    
                </div>

                <div class="col-md-3"  style="text-align:center;">
                    <span class="fa services-icons fa-users"> 
                    </span>
                    <div class="services sub-heading">Employment
                     <div class="services content paddup"> Civil, Assignment, Service, Copyright Agreements </div>
                     </div>
                    
                </div>
                
            </div>

            <div class="row services description" >

                    <div class="col-md-6">
                    </div>

                    <a href="{{ site.baseurl}}/legalservices/">
                      <div class="col-md-6 bolt">
                        <span class="fa services-bolt fa-bolt"> </span>
                            <span class="services description"  style="text-align:left;">Click here for a full description of the Legal Services
                            </span>
                    </a>  
                    </div>

            </div>
<!-- 
            <div class="row">

                    
                         <span class="fa services-icons fa-phone" > 
                            <span class="services phone"  style="text-align:left;">+40 (742) 316 527
                            </span>
                        </span>
                   

            </div> -->

    </section>
