<!DOCTYPE html>
<html>

  {% include head.html %}


    <body id="page-top" class="index">

    {{ content }}
  	
  	<ul class="list-inline linkbar text-center">
				    
				    <li>
                        <a class="page-scroll" href="{{site.baseurl}}">Home</a>
                    </li> 

                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/coreservices/">Core Services</a>
                    </li>
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/references/">References</a>
                    </li>
                    
                    <li>
                        <a class="page-scroll" href="{{site.baseurl}}/hireus">Hire us</a>
                    </li>
	</ul>
    {% include js.html %}

    </body>
</html>